.searchComponent{
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    background-color: #595959;
    margin-bottom: 2em;
}

.searchBar{
    margin-bottom: 2em;
}

.buttonStyling{
    padding: 5px;
}

.buttonGroupStyling{
    text-align: center;
}

