.listElement{
    background-color: #595959;
    text-align: center;
    width: 50%;
    margin: 2% auto;
    color: white;
    padding: 10px;
    img{
        display: block;
        width: 30%;
        margin: 0 auto;
    }
}

.filtersMenu{
    display: block;
    width: 70%;
    margin: 0 auto;
}